<div class="homepage-container">
  <nav class="navbar">
    <div class="nav-container">
      <div class="nav-brand">
        <img src="favicon.jpeg" alt="Logo" class="logo-img" />
        <h1 class="nav-logo">StockSmart</h1>
      </div>
      <div class="nav-links">
        <a routerLink="/about" routerLinkActive="active-link">About StockSmart</a>
      </div>
    </div>
  </nav>
    <mat-card class="homepage-card">
      <h1>Welcome to Inventory System</h1>
      <p>Select an option to continue:</p>
  
      <div class="button-group">
        <button mat-raised-button color="primary" [routerLink]="['/inventorypage']">
          Manage Inventory
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/supplierspage']">
          Manage Suppliers
        </button>
      </div>
      <div class="powered-by">
        <p>Powered by <strong>StockSmart</strong></p>
      </div>
    </mat-card>
  </div>
  