<div class="homepage-container">
    <mat-card class="homepage-card">
      <h1>Welcome to Inventory System</h1>
      <p>Select an option to continue:</p>
  
      <div class="button-group">
        <button mat-raised-button color="primary" [routerLink]="['/inventorypage']">
          Manage Inventory
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/supplierspage']">
          Manage Suppliers
        </button>
      </div>
      <div class="powered-by">
        <p>Powered by <strong>StockSmart</strong></p>
      </div>
    </mat-card>
  </div>
  